<html>
<title>About Us</title>
<body>    
    
<font face="arial" color="black" size="4">
    
    <table style="width:100%;margin-right:8px;margin-left:8px;">
    <tr height="20"><td></td></tr>
    <tr height="5"><td><b><font face="arial" color="black" size="5">The dbBact team includes</font></b></td></tr>
    <tr height="5"><td></td></tr>
    </table>
    
      
    <table style="width:90%;margin-right:5%;margin-left:5%;">
        <tr height="10px">
            <td colspan="1">Noam Shental, The Open University of Israel</td>
        </tr>
        <tr height="10px">
            <td colspan="1">Amnon Amir, formerly from UCSD</td>
        </tr>
        <tr height="10px">
            <td colspan="1">Eitan Ozel, The Open University of Israel</td>
        </tr>
        <tr height="30px">
            <td colspan="1"></td>
        </tr>
    </table>    
</table>
<a href='main'>Back to main page</a>
</font>
    
</body>    
</html>
