<script>

function fileBrowse1()
{
    var textObj = document.getElementById('fastaFileDisplayTb1');
    var hiddenObj = document.getElementById('seqs1');
    hiddenObj.click();
}
        
function alertFilename1()
{
    var thefile = document.getElementById('seqs1');
    var textObj = document.getElementById('fastaFileDisplayTb1'); 
    textObj.value = thefile.value.split(/(\\|\/)/g).pop();
}

function fileBrowse2()
{
    var textObj = document.getElementById('fastaFileDisplayTb2');
    var hiddenObj = document.getElementById('seqs2');
    hiddenObj.click();
}
        
function alertFilename2()
{
    var thefile = document.getElementById('seqs2');
    var textObj = document.getElementById('fastaFileDisplayTb2'); 
    textObj.value = thefile.value.split(/(\\|\/)/g).pop();
}
    
</script>

<font face="arial" size="5">
    <form action='enrichment_results' method='post' enctype = "multipart/form-data">
    <table style="width:90%;margin-right:5%;margin-left:5%;">
        <tr height="70px" style="background-color:white">
            <td colspan="1"></td>
        </tr>
        <tr style="height:60px;background-color:white">
            <td colspan="1"><font face="arial" color="black" size="6"><b><center>Differential Abundance Queries</center></b></font></td> 
        </tr>
        <tr style="height:60px;background-color:white">
            <td colspan="1"><font face="arial" color="black" size="4"><center>Check for enriched terms in a fasta file compared to a background fasta file</center></font></td>
        </tr>
        <tr height="10px" style="background-color:white">
            <td colspan="1"></td>
        </tr>
    </table>
    <table border=0 style="width:90%;margin-right:5%;margin-left:5%;border: 3px solid #A1BCD1;background-color:#EAF0F8;" >
        <tr style="height:20px">
            <td colspan="5"></td>
        </tr>
        <tr style="height:100px;background-color:#EAF0F8;">
            <td width="5%"></td>
            <td width="40%">Sequences of interest fasta file:</td>
            <td width="50%"><input type='text' id='fastaFileDisplayTb1' name='file name' class="form-control input-lg" style='width: calc(100% - 40px); margin: 20px; overflow: auto; border: 1px solid black;'></td>
            <td width="5%">
                <input type="file" id="seqs1" name="seqs1" style="display:none;" onchange="alertFilename1()" />
                <input type="button" id="fileBrowseBut1" value="browse"  onClick="fileBrowse1();"/></td>
            <td width="5%"></td>
        </tr>
        <tr style="height:30px;background-color:#EAF0F8;">
            <td colspan="5"></td>
        </tr>
        <tr style="height:100px;background-color:#EAF0F8;">
            <td width="5%"></td>
            <td width="40%">Background (compare to) fasta file:</td>
            <td width="50%"><input type='text' id='fastaFileDisplayTb2' name='file name' class="form-control input-lg" style='width: calc(100% - 40px); margin: 20px; overflow: auto; border: 1px solid black;'></td>
            <td width="5%">
                <input type="file" id="seqs2" name="seqs2" style="display:none;" onchange="alertFilename2()" />
                <input type="button" id="fileBrowseBut2" value="browse"  onClick="fileBrowse2();"/></td>
            <td width="5%"></td>
        </tr>
        <tr style="height:30px;background-color:#EAF0F8;">
            <td colspan="5"></td>
        </tr>
        <tr style="height:70px;background-color:#EAF0F8;">
            <td width="90%" colspan="5">
                <center><input type="image" src="static/submitBut.png" alt="Submit Form" style="width:auto ; height:40;" /></center>
            </td>
        </tr>
    </table>
    <table style="width:90%;margin-right:5%;margin-left:5%;background-color:white">
        <tr height="70px" style="background-color:white">
            <td colspan="1"></td>
        </tr>
        <tr height="30px" style="background-color:white">
            <td colspan="1" align="right"><font face="arial" size="5"><center><a href='main'><u>Back to main page</u></a></center></font></td>
        </tr>
    </table>        
    
    </form>
    </font>
</body>
</html>