
    
<font face="arial" color="black" size="4">
    
    <table style="width:100%;margin-right:8px;margin-left:8px;">
    <tr height="20" style="background-color:white"><td></td></tr>
    <tr height="5" style="background-color:white"><td><b><font face="arial" color="black" size="5">{{error_str}}</font></b></td></tr>
    <tr height="30px" style="background-color:white">
        <td colspan="1"></td>
    </tr>    
    <tr height="30px" style="background-color:white">
        <td colspan="1"><font face="arial" size="5"><a href='main'>Back to main page</a></font></td>
    </tr>
        
    </table>


</font>
    
</body>    
</html>
