<html>
    <head>
        <link rel="stylesheet" type="text/css" href="htmltest.css">
    </head> 
    <body>
        <div id="main">
            <div id="menu">
                <a href='reset_password'>Reset password</a><br><a href='about'>About us</a>
            </div>
            <div id="statistics">
            </div>
            <div id="searchtitle">
                <center><h1>Sequence Search</h1></center>
            </div>
            <div id="searchform">
                <form action='search_results' method='post'>
                    <input value='' style='width: 100%; font-size:20px; height: 30px; margin-bottom: 20px;' type='text' name='sequence'><br>
                    <center><input id='searchBut' type='submit' align='center'></center>
                </form>
            </div>
            <div id="botMenu">
            <center><a href='search_results?sequence=tacggagggtgcgagcgttaatcggaataactgggcgtaaagggcacgcaggcggtgacttaagtgaggtgtgaaagccccgggcttaacctgggaattgcatttcatactgggtcgctagagtactttagggaggggtagaattccacg'>Or click here for example</a>
            </center>
            </div>
        </div>
    </body>
</html>