<html>
<title>User Info</title>
<head>
<style>table {margin:40px; border-collapse: collapse; width: 60%;} th, td {text-align: left; padding: 8px;}tr:nth-child(even){background-color: #f2f2f2}th {background-color: #4CAF50;color: white; margin-top:100px;}</style>
</head>
<body>
<h1>Summmary for user id: {{userid}}</h1>
<table>
<col width='25%'>
<col width='25%'>
<col width='25%'>
<col width='25%'>
<tr>
<th>User Name</th>
<th>Name</th>
<th>Description</th>
<th>Email</th>
</tr>
<tr>
<td>{{username}}</td>
<td>{{name}}</td>
<td>{{desc}}</td>
<td>{{email}}</td>
</tr>
</table>
</body>
</html>