<style>
  #seq-panel {
    margin-left: 100px;
    margin-right: 100px;
  }
  #seq-box {
    padding: 20px;
    overflow: auto;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 20px;
  }
</style>
<div id="seq-panel" class="panel panel-default">
  <div class="panel-heading">
    Search result for greengenes id: {{gg_place_holder}}
  </div>
  <div id="seq-box" class="panel-body">
        {{seq_names_place_holder}}        
  </div>
</div>
<script>
  var nt2rgb = {
    'A': '#f01505',
    'T': '#15c015',
    'C': '#80a0f0',
    'G': '#c0c000'
  };
  $('#seq-box').html($('#seq-box').html().split('').map(function(nt) {
    if (nt in nt2rgb) {
      return '<span style="color: ' + nt2rgb[nt] + ';">' + nt + '</span>';
    } else {
      return nt;
    }
  }).join(''));
</script>
